* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", "Poppins", sans-serif;
    font-optical-sizing: auto;
        display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-color: whitesmoke; */
}

a {
    text-decoration: none;
    color: black;
}

.nav {
    position: fixed;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #D4D4D8;
    padding: 12px 0px;  
    align-items: center;
}

/* nav-left */
.nav-left {
    display: flex;
    gap: 15px;
    padding-left: 24px;
    align-items: center;
}

.nav-left img {
    width: inherit;
    height: 4vh;
    box-sizing: border-box;
}



.nl-text a {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    color: #52525b;
}

.nl-text a:hover {
    background-color: #F4F4F5;
    border-radius: 25px;

}

#c {
    color: #3863EB;
}

/* nav-right */

.nav-right {
    /* margin-top: 6px; */
    word-spacing: 5px;
    padding-right: 24px;
    display: flex;
    gap: 10px;
     align-items: center;
    margin-top: 0;
}

.nav-right form {
    background-color: white;
    border: none;
    border: 1px solid #D4D4D8;
    /* padding: 8px 65px 8px 14px; */
    border-radius: 28px;
    cursor: pointer;
    font-size: 15px;
    word-spacing: 6px;
    padding: 8px 15px;  /* Reduce width */
    display: flex;
    align-items: center;
    gap: 8px;
}
.nav-right form input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    color: #52525b;
    width: 100px;  
}
.nav-right form button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.nav-right form:hover {
    border: 2px solid #D4D4D8;
}

.nav-right a i {
    font-size: 18px;
    padding: 10px 10px;
}

.nav-right a i:hover {
    background-color: #F4F4F5;
    border-radius: 50px;
}


.imgwrp{
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.nr-img{
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: gray;
    width: 40px;   
    height: 40px;      
    cursor: pointer;
    display: flex;
}
.nr-imgg{
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: gray;
    width: 40px;   
    height: 40px;      
    cursor: pointer;
    display: flex;
    border: 2px solid #6366f1;
}
.nr-imgg img{
    width: 100%;
    height: inherit;
    object-fit: cover;
}
.nr-img img{
    width: 100%;
    height: inherit;
    object-fit: cover;
}
.badge {
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: #eef2ff; /* soft light blue, matches your theme */
    color: #6366f1; /* indigo-500 */
    font-size: 10px;
    border-radius: 50%;
    padding: 2px 4px;
    font-weight: bold;
    box-shadow: 0 0 0 1.5px #fff;
}
.nr-text {
    color: white;
    font-size: 15px;
    font-weight: 600;
    object-fit: cover;
}

/* card */
.card {
  display: none;
  position: absolute;
  top: 130%;
  right: 0;
  width: 260px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 16px;
  z-index: 99;
  transition: all 0.2s ease;
  animation: fadeIn 0.2s ease-in-out;
}


.nr-imgp{
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: gray;
    width: 40px;   
    height: 40px;      
    cursor: pointer;
    display: flex;
    margin-right: 12px;
}
.nr-imggp{
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: gray;
    width: 40px;   
    height: 40px;      
    cursor: pointer;
    display: flex;
    border: 2px solid #6366f1;
    margin-right: 12px;
}
.nr-textp {
    color: white;
    font-size: 15px;
    font-weight: 600;
    object-fit: cover;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-8px); }
  to { opacity: 1; transform: translateY(0); }
}

.imgwrp:hover .card {
  display: block;
}
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.profile img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  
}

.info .author-name {
  font-weight: 600;
  color: #111827;
}

.info .username {
  color: #6B7280;
  font-size: 13px;
}
.menu .nra{
    display: none;
}
.menu a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  text-decoration: none;
  color: #374151;
  transition: 0.2s;
}

.menu a:hover {
  color: #111827;
}

.logout {
  border-top: 1px solid #E5E7EB;
  margin-top: 12px;
  padding-top: 10px;
}

.logout a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #EF4444;
  font-weight: 500;
  text-decoration: none;
}

.logout a:hover {
  color: #dc2626;
}

/* Main */
.main {
    margin: 0 25% 0 25%;
    padding-top: 6%;
    flex: 1;
    max-width: 1400px;
}

/* heding */
.heding h2 {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: #18181b;
}
.subtitle h2 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: #18181b;
}

/* account */
.account {
    margin: 2% 0;
}

.author-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    gap: 7px;
}

.author-img {
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: gray;
    width: 40px;   
    height: 40px;      
    cursor: pointer;
    display: flex;

}

.author-img img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.author-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dot {
    margin: 0 4px;
}

.read-time i {
    margin-right: 4px;
}

/* cover */
.cover {
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    overflow: hidden;
    width: 50vw;
    height: 60vh;
}

.cover img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

/* par1 */
.parg {
    margin: 4% 10% 0 10%;
    text-align: justify;
    line-height: 32px;
}

.parg p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;

}

.parg h2 {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
}

/* icon */
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 10% 0 10%;
}

.action-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 999px;
    padding: 8px 15px;
    width: fit-content;
    background-color: white;
    gap: 10px;
    font-size: 18px;
    color: #333;
}
.action-bar button{
    border: none;
    background-color: white;
}

.like-btn.liked i {
    color: red;
}
.save-btn.save i {
    color: black;
}

.action-bar i {
    font-size: 22px;
    padding: 4px 8px;
}

.divider {
    width: 1px;
    height: 20px;
    background-color: #e0e0e0;
}

/* comment */
.comment {
    margin: 4% 10% 0 10%;
}

/* us-comment */
.us-comment {
    margin-top: 20px;
    border-bottom: 1px solid #D4D4D8;
    padding-bottom: 20px;
}

.uc-up {
    display: flex;
}

.acc-img {
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: gray;
    width: 40px;   
    height: 40px;      
    cursor: pointer;
    display: flex;
}

.acc-img img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.acc-name p {
    margin: 8px;
    font-size: 15px;
    font-weight: 500;
}


.uc-down {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; /* box on left, button on right */
    align-items: center;
}

.content-editor {
    flex: 1;
    margin-right: 10px;
    min-height: 100px;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 1.6;
    color: #111;
}


.content-editor:empty:before {
    content: "Comment";
    color: #aaa;
}

.uc-down button {
    margin-top: 67px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #2563EB;
    border: none;
    border-radius: 15px;
}

/* comment */
.pcomment {
    margin-top: 30px;
    border-bottom: 1px solid #D4D4D8;
    padding-bottom: 20px;
}

.pc-up {
    display: flex;
}

.cacc-img {
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: gray;
    width: 40px;   
    height: 40px;      
    cursor: pointer;
    display: flex;

}

.cacc-img img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.cacc-name p {
    display: inline-block;
    margin: 8px 0 0 8px;
    font-size: 15px;
    font-weight: 500;
}

.cacc-name span {
    margin: 3px 0 0 4px;
    font-size: 13px;
    font-weight: 400;
    color: #6b6b6b;
}

.pc-center {
    margin-top: 20px;
}

.pc-center p {
    font-size: 14px;
    font-weight: 400;
}
.pc-center div{
    font-size: 14px;
    font-weight: 400;
}

.pc-down {
    margin-top: 3%;
    display: flex;
    gap: 20px;
}

.pc-down a {
    
    color: #6b6b6b;
}
.pc-down button{
    border: none;
    background-color: white;
}
.pc-down i {
    font-size: 18px;
    padding-right: 5px;
}
.like-btn.liked i {
    color: red;
}
.pc-down a:hover {
    color: black;
}
/* reply */
.reply{
    margin-top: 20px;
    padding-left: 20px;
    border-left: 2px solid #D4D4D8;
    
}
.reply-us {
    border-bottom: 1px solid #D4D4D8;
    padding-bottom: 20px;
    margin-top: 20px;
}

.reply-us input {
    width: 100%;
    height: 30px;
    border: none;
    font-size: 16px;
    border-radius: 7px;
    padding: 10px 0 80px 10px;
}

.reply-us button {
    margin-top: 10px;
    margin-left: 89%;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #2563EB;
    border: none;
    border-radius: 15px;
}
.reply-acc{
    border-bottom: 1px solid #D4D4D8;
    padding-bottom: 20px;
}
.reply-up {
    margin-top: 20px;
    display: flex;
    
}

.reply-img {
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 2vw;
    height: 4vh;

}

.reply-img img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.reply-name p {
    margin: 8px 0 0 8px;
    font-size: 15px;
    font-weight: 500;
}

.reply-name span {
    margin: 3px 0 0 8px;
    font-size: 13px;
    font-weight: 400;
    color: #6b6b6b;
}
.reply-center {
    margin-top: 20px;
}

.reply-center p {
    font-size: 14px;
    font-weight: 400;
}

.reply-down {
    margin-top: 3%;
    display: flex;
    gap: 20px;
}

.reply-down a {
    
    color: #6b6b6b;
}

.reply-down a i {
    font-size: 18px;
    padding-right: 5px;
}

.reply-down a:hover {
    color: black;
}

/* footer */
.footer {
    margin-top: 5%;
    padding: 8px 0px;
    width: 100%;
    background-color: white;
    border-top: 1px solid #D4D4D8;

}

.f-top {
    display: flex;
    justify-content: space-between;
}

/* f-left */
.f-left {
    display: flex;
    gap: 15px;
    padding-left: 10%;
}

.f-left img {
    width: inherit;
    height: 4vh;
    box-sizing: border-box;
}

.fl-text {
    margin-top: 12px;
}

.fl-text a {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    color: #52525b;
}

.fl-text a:hover {
    background-color: #F4F4F5;
    border-radius: 25px;

}

/* f-right */
.f-right {
    display: flex;
    margin-top: 6px;
    padding-right: 10%;
}

.soi i {
    font-size: 16px;
    padding: 10px 10px;
}

.soi i:hover {
    background-color: #F4F4F5;
    border-radius: 50px;
}

/* f-bot */
.f-bot {
    text-align: center;
    padding-top: 5px;
}

.f-bot p {
    font-size: 14px;
    color: rgb(161, 161, 170);
}

@media only screen and (min-width:320px) and (max-width:480px){
.nav {
    padding: 4px 0px;
}
.nav-left{
    padding-left: 10px;
}
.nla {
    display: none;
}
.nav-left img {
    width: inherit;
    height: 2vh;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 0px;
}
.nl-text {
    margin-top: 0px;
}
.nl-text a {
    font-size: 8px;
    padding: 5px 4px;
}
.nav-right{
     margin-top: 0px;
     word-spacing: 0px;
     padding-right: 10px;
     gap: 5px;
}
.menu .nra {
    display: block;
}
.nav-right form {
    margin-top: 2px;
    font-size: 7px;
    word-spacing: 3px;
    padding: 0px 5px;
    gap: 4px;
}
.nav-right form button i {
    margin: 0;
    padding: 0;
    font-size: 10px;
}
.nav-right form input {
    font-size: 7px;
    color: #52525b;
    width: 40px;  
}
.nav-right a p{
    margin-top: 0px;
    font-size: 8px;
    padding: 0px;
}
.nav-right a i {
    font-size: 9px;
    padding: 5px 5px;
}
.imgwrp{
    margin-bottom: 0px;
}
.nr-img{
    margin-top: 0px;
    width: 20px;   
    height: 20px;
}
.nr-imgg{
    margin-top: 0px;
    width: 20px;   
    height: 20px;
}
.nr-text {
    color: white;
    font-size: 7px;
    font-weight: 600;
    object-fit: cover;
}
/* card */
.card {
  width: 160px;
  padding: 8px;
}
.nr-imgp{
    margin-top: 2px;
    width: 22px;   
    height: 22px;
    margin-right: 6px;
}
.nr-imggp{
    margin-top: 2px;
    width: 22px;   
    height: 22px;
    margin-right: 6px;
}

.nr-textp {
    font-size: 7px;
}
.profile {
  margin-bottom: 8px;
}
.profile img {
  width: 22px;
  height: 22px;
  margin-right: 12px;
}
.info .author-name {
    padding: 0px;
    font-size: 10px;
}
.info .username {
    padding: 0px;
    font-size: 7px;
}
.menu a {
    font-size: 8px;
    padding: 4px 0px;
    gap: 3px;
}
.logout {
  margin-top: 6px;
  padding-top: 5px;
}
.logout a {
  gap: 5px;
  font-size: 8px;
}

/* Main */
.main {
    padding-top: 13%;
    margin: 0 5% 0 5%;
}

.heding h2 {
    font-size: 24px;
}
.subtitle h2 {
    font-size: 17px;
}

.author-box {
    font-size: 8px;
    gap: 4px;
}
.author-img {
    width: 20px;   
    height: 20px;
}
.author-info {
    gap: 4px;
}

.cover {
    margin-top: 15px;
    width: 100%;
    height: inherit;
}
.parg {
    margin: 4% 0 0 0;
    text-align: justify;
    line-height: 16px;
}
.parg p {
    margin-top: 10px;
    font-size: 9px;

}

.icon {
    margin: 4% 0 0 0;
}
.action-bar i {
    font-size: 13px;
    padding: 2px 4px;
}
.action-bar {
    padding: 4px 8px;
    gap: 5px;
    font-size: 9px;
}

.comment {
    margin: 4% 0 0 0;
}
.us-comment {
    margin-top: 10px;
    padding-bottom: 10px;
}
.acc-img {
    width: 22px;   
    height: 22px;    
}
.acc-name p {
    margin: 4px;
    font-size: 10px;
}
.uc-down {
    margin-top: 0px;
}
.content-editor {
    min-height: 50px;
    font-size: 10px;
    line-height: 1.3;
}
.uc-down button {
    margin-top: 67px;
    padding: 4px 6px;
    font-size: 10px;
}

.pcomment {
    margin-top: 15px;
    padding-bottom: 10px;
}
.cacc-img {
    margin-top: 2px;
    width: 22px;   
    height: 22px;
}
.cacc-name p {
    margin: 4px;
    font-size: 10px;
}
.cacc-name span {
    margin: 0px 0 0 0;
    font-size: 8px;
}
.pc-center {
    margin-top: 10px;
    margin-left: 2%;
}
.pc-center p {
    font-size: 10px;
}
.pc-center div{
    font-size: 10px;
}
.pc-down {
    margin-top: 3%;
    margin-left: 2%;
    gap: 0px;
}
.pc-down form{
    margin: 0;
    padding: 0;
}
.pc-down i {
    font-size: 12px;
    padding-right: 0px;
}
/* footer */
.footer {
    padding: 4px 0px;
}
.f-left {
    padding-left: 5%;
}
.f-left img {
    height: 2vh;
    margin-top: 4px;
}
.fl-text {
    margin-top: 0px;
}
.fl-text a {
    font-size: 8px;
    padding: 5px 4px;
}
/* f-right */
.f-right {
    margin-top: 0px;
    padding-right: 5%;
}
.soi i{
    font-size: 8px;
    padding: 5px 5px;
}
/* f-bot */
.f-bot{
    text-align: center;
    padding-top: 4px;
}
.f-bot p{
    font-size: 7px;
    color: rgb(161, 161, 170);
}
}

@media only screen and (min-width:481px) and (max-width:768px){
.nav {
    padding: 6px 0px;
}
.nav-left{
    padding-left: 10px;
}
.nla {
    display: none;
}
.nav-left img {
    width: inherit;
    height: 2vh;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 0px;
}
.nl-text {
    margin-top: 0px;
}
.nl-text a {
    font-size: 10px;
    padding: 5px 4px;
}
.nav-right{
     margin-top: 0px;
     word-spacing: 0px;
     padding-right: 10px;
     gap: 5px;
}
.menu .nra {
    display: block;
}
.nav-right form {
    margin-top: 2px;
    font-size: 9px;
    word-spacing: 3px;
    padding: 2px 8px;
    gap: 4px;
}
.nav-right form button i {
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.nav-right form input {
    font-size: 9px;
    color: #52525b;
    width: 50px;  
}
.nav-right a p{
    margin-top: 0px;
    font-size: 10px;
    padding: 0px;
}
.nav-right a i {
    font-size: 11px;
    padding: 5px 5px;
}
.imgwrp{
    margin-bottom: 0px;
}
.nr-img{
    margin-top: 0px;
    width: 24px;   
    height: 24px;
}
.nr-imgg{
    margin-top: 0px;
    width: 24px;   
    height: 24px;
}
.nr-text {
    color: white;
    font-size: 9px;
    font-weight: 600;
    object-fit: cover;
}
/* card */
.card {
  width: 160px;
  padding: 8px;
}
.nr-imgp{
    margin-top: 2px;
    width: 24px;   
    height: 24px;
    margin-right: 6px;
}
.nr-imggp{
    margin-top: 2px;
    width: 24px;   
    height: 24px;
    margin-right: 6px;
}

.nr-textp {
    font-size: 9px;
}
.profile {
  margin-bottom: 8px;
}
.profile img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
.info .author-name {
    padding: 0px;
    font-size: 12px;
}
.info .username {
    padding: 0px;
    font-size: 9px;
}
.menu a {
    font-size: 10px;
    padding: 4px 0px;
    gap: 3px;
}
.logout {
  margin-top: 6px;
  padding-top: 5px;
}
.logout a {
  gap: 5px;
  font-size: 10px;
}


/* Main */
.main {
    padding-top: 13%;
    margin: 0 5% 0 5%;
}

.heding h2 {
    font-size: 26px;
}
.subtitle h2 {
    font-size: 19px;
}

.author-box {
    font-size: 10px;
    gap: 4px;
}
.author-img {
    width: 22px;   
    height: 22px;
}
.author-info {
    gap: 4px;
}

.cover {
    margin-top: 15px;
    width: 100%;
    height: inherit;
}
.parg {
    margin: 4% 0 0 0;
    text-align: justify;
    line-height: 16px;
}
.parg p {
    margin-top: 10px;
    font-size: 11px;

}

.icon {
    margin: 4% 0 0 0;
}
.action-bar i {
    font-size: 15px;
    padding: 2px 4px;
}
.action-bar {
    padding: 4px 8px;
    gap: 5px;
    font-size: 11px;
}

.comment {
    margin: 4% 0 0 0;
}
.us-comment {
    margin-top: 10px;
    padding-bottom: 10px;
}
.acc-img {
    width: 24px;   
    height: 24px;    
}
.acc-name p {
    margin: 4px;
    font-size: 12px;
}
.uc-down {
    margin-top: 0px;
}
.content-editor {
    min-height: 50px;
    font-size: 12px;
    line-height: 1.3;
}
.uc-down button {
    margin-top: 67px;
    padding: 4px 6px;
    font-size: 12px;
}

.pcomment {
    margin-top: 15px;
    padding-bottom: 10px;
}
.cacc-img {
    margin-top: 2px;
    width: 24px;   
    height: 24px;
}
.cacc-name p {
    margin: 4px;
    font-size: 12px;
}
.cacc-name span {
    margin: 0px 0 0 0;
    font-size: 10px;
}
.pc-center {
    margin-top: 10px;
    margin-left: 2%;
}
.pc-center p {
    font-size: 11px;
}
.pc-center div{
    font-size: 12px;
}
.pc-down {
    margin-top: 3%;
    margin-left: 7px;
    gap: 0px;
}
.pc-down form{
    margin: 0;
    padding: 0;
}
.pc-down i {
    font-size: 14px;
    padding-right: 0px;
}
/* footer */
.footer {
    padding: 4px 0px;
}
.f-left {
    padding-left: 5%;
}
.f-left img {
    height: 2vh;
    margin-top: 4px;
}
.fl-text {
    margin-top: 0px;
}
.fl-text a {
    font-size: 10px;
    padding: 5px 4px;
}
/* f-right */
.f-right {
    margin-top: 0px;
    padding-right: 5%;
}
.soi i{
    font-size: 10px;
    padding: 5px 5px;
}
/* f-bot */
.f-bot{
    text-align: center;
    padding-top: 4px;
}
.f-bot p{
    font-size: 9px;
    color: rgb(161, 161, 170);
}
}

@media only screen and (min-width:769px) and (max-width:1024px){
.nav {
    padding: 8px 0px;
}
.nav-left{
    padding-left: 12px;
}
.nav-left img {
    margin-top: 4px;
    width: inherit;
    height: 2vh;
    box-sizing: border-box;
}
.nl-text {
    margin-top: 0px;
}
.nl-text a {
    font-size: 12px;
    padding: 5px 6px;
}
.nav-right{
     margin-top: 0px;
     word-spacing: 2px;
     padding-right: 14px;
}
.nav-right form {
    margin-top: 2px;
    font-size: 14px;
    word-spacing: 5px;
    padding: 4px 10px;
    gap: 4px;
}
.nav-right form button i {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.nav-right form input {
    font-size: 12px;
    color: #52525b;
    width: 80px;  
}
.nav-right a p{
    margin-top: 0px;
    font-size: 12px;
    padding: 0px;
}
.nav-right a i {
    font-size: 13px;
    padding: 5px 5px;
}
.imgwrp{
    margin-bottom: 0px;
}
.nr-img{
    margin-top: 0px;
    width: 28px;   
    height: 28px;
}
.nr-imgg{
    margin-top: 0px;
    width: 28px;   
    height: 28px;
}
.nr-text {
    color: white;
    font-size: 11px;
    font-weight: 600;
    object-fit: cover;
}
/* card */
.card {
  width: 200px;
  padding: 10px;
}
.nr-imgp{
    margin-top: 2px;
    width: 28px;   
    height: 28px;
    margin-right: 6px;
}
.nr-imggp{
    margin-top: 2px;
    width: 28px;   
    height: 28px;
    margin-right: 6px;
}

.nr-textp {
    font-size: 12px;
}
.profile {
  margin-bottom: 8px;
}
.profile img {
  width: 28px;
  height: 28px;
  margin-right: 12px;
}
.info .author-name {
    padding: 0px;
    font-size: 14px;
}
.info .username {
    padding: 0px;
    font-size: 11px;
}
.menu a {
    font-size: 12px;
    padding: 4px 0px;
    gap: 3px;
}
.logout {
  margin-top: 7px;
  padding-top: 7px;
}
.logout a {
  gap: 8px;
  font-size: 12px;
}

/* Main */
.main {
    padding-top: 8%;
    margin: 0 15% 0 15%;
}
.heding h2 {
    font-size: 28px;
}
.subtitle h2 {
    font-size: 21px;
}

.author-box {
    font-size: 12px;
    gap: 4px;
}
.author-img {
    width: 26px;   
    height: 26px;
}
.author-info {
    gap: 4px;
}

.cover {
    margin-top: 15px;
    width: 100%;
    height: inherit;
}
.parg {
    margin: 4% 0 0 0;
    text-align: justify;
    line-height: 16px;
}
.parg p {
    margin-top: 10px;
    font-size: 13px;

}

.icon {
    margin: 4% 0 0 0;
}
.action-bar i {
    font-size: 17px;
    padding: 2px 4px;
}
.action-bar {
    padding: 4px 8px;
    gap: 5px;
    font-size: 13px;
}

.comment {
    margin: 4% 0 0 0;
}
.us-comment {
    margin-top: 10px;
    padding-bottom: 10px;
}
.acc-img {
    width: 27px;   
    height: 27px;    
}
.acc-name p {
    margin: 4px;
    font-size: 14px;
}
.uc-down {
    margin-top: 0px;
}
.content-editor {
    min-height: 50px;
    font-size: 14px;
    line-height: 1.3;
}
.uc-down button {
    margin-top: 67px;
    padding: 4px 6px;
    font-size: 14px;
}

.pcomment {
    margin-top: 15px;
    padding-bottom: 10px;
}
.cacc-img {
    margin-top: 2px;
    width: 27px;   
    height: 27px;
}
.cacc-name p {
    margin: 4px;
    font-size: 14px;
}
.cacc-name span {
    margin: 0px 0 0 0;
    font-size: 12px;
}
.pc-center {
    margin-top: 10px;
    margin-left: 2%;
}
.pc-center p {
    font-size: 13px;
}
.pc-center div{
    font-size: 14px;
}
.pc-down {
    margin-top: 3%;
    margin-left: 9px;
    gap: 0px;
}
.pc-down form{
    margin: 0;
    padding: 0;
}
.pc-down i {
    font-size: 16px;
    padding-right: 0px;
}


/* footer */
.footer {
    padding: 4px 0px;
}
.f-left {
    padding-left: 5%;
}
.f-left img {
    height: 2vh;
    margin-top: 4px;
}
.fl-text {
    margin-top: 3px;
}
.fl-text a {
    font-size: 12px;
    padding: 5px 4px;
}
/* f-right */
.f-right {
    margin-top: 0px;
    padding-right: 5%;
}
.soi i{
    font-size: 12px;
    padding: 5px 5px;
}
/* f-bot */
.f-bot{
    text-align: center;
    padding-top: 4px;
}
.f-bot p{
    font-size: 12px;
    color: rgb(161, 161, 170);
}
}

@media only screen and (min-width:1025px) and (max-width:1200px){
.nav-left img {
    height: 3vh;
}
.nl-text a {
    padding: 10px 10px;
}
/* left */
.main {
    padding-top: 10%;
    margin: 0 15% 0 15%;
}
.cover {
    margin-top: 15px;
    width: 100%;
    height: inherit;
}


/* footer */
.footer {
    padding: 4px 0px;
}
.f-left {
    padding-left: 5%;
}
.f-left img {
    height: 2vh;
    margin-top: 4px;
}
.fl-text {
    margin-top: 5px;
}
.fl-text a {
    font-size: 14px;
    padding: 5px 4px;
}
/* f-right */
.f-right {
    margin-top: 4px;
    padding-right: 5%;
}
.soi i{
    font-size: 14px;
    padding: 10px 10px;
}
/* f-bot */
.f-bot{
    text-align: center;
    padding-top: 4px;
}
.f-bot p{
    font-size: 14px;
    color: rgb(161, 161, 170);
}
}