* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", "Poppins", sans-serif;
    font-optical-sizing: auto;
    /* background-color: whitesmoke; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

.nav {
    position: fixed;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #D4D4D8;
    padding: 12px 0px;  
    align-items: center;
}

/* nav-left */
.nav-left {
    display: flex;
    gap: 15px;
    padding-left: 24px;
    align-items: center;
}

.nav-left img {
    width: inherit;
    height: 4vh;
    box-sizing: border-box;
}



.nl-text a {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    color: #52525b;
}

.nl-text a:hover {
    background-color: #F4F4F5;
    border-radius: 25px;

}

#c {
    color: #3863EB;
}

/* nav-right */

.nav-right {
    /* margin-top: 6px; */
    word-spacing: 5px;
    padding-right: 24px;
    display: flex;
    gap: 10px;
     align-items: center;
    margin-top: 0;
}

.nav-right form {
    background-color: white;
    border: none;
    border: 1px solid #D4D4D8;
    /* padding: 8px 65px 8px 14px; */
    border-radius: 28px;
    cursor: pointer;
    font-size: 15px;
    word-spacing: 6px;
    padding: 8px 15px;  /* Reduce width */
    display: flex;
    align-items: center;
    gap: 8px;
}
.nav-right form input {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    color: #52525b;
    width: 100px;  
}
.nav-right form button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.nav-right form:hover {
    border: 2px solid #D4D4D8;
}

.nav-right a i {
    font-size: 18px;
    padding: 10px 10px;
}

.nav-right a i:hover {
    background-color: #F4F4F5;
    border-radius: 50px;
}


.imgwrp{
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.nr-img{
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: gray;
    width: 40px;   
    height: 40px;      
    cursor: pointer;
    display: flex;
}
.nr-imgg{
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: gray;
    width: 40px;   
    height: 40px;      
    cursor: pointer;
    display: flex;
    border: 2px solid #6366f1;
}
.nr-imgg img{
    width: 100%;
    height: inherit;
    object-fit: cover;
}
.nr-img img{
    width: 100%;
    height: inherit;
    object-fit: cover;
}
.badge {
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: #eef2ff; /* soft light blue, matches your theme */
    color: #6366f1; /* indigo-500 */
    font-size: 10px;
    border-radius: 50%;
    padding: 2px 4px;
    font-weight: bold;
    box-shadow: 0 0 0 1.5px #fff;
}
.nr-text {
    color: white;
    font-size: 15px;
    font-weight: 600;
    object-fit: cover;
}

/* card */
.card {
  display: none;
  position: absolute;
  top: 130%;
  right: 0;
  width: 260px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 16px;
  z-index: 99;
  transition: all 0.2s ease;
  animation: fadeIn 0.2s ease-in-out;
}


.nr-imgp{
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: gray;
    width: 40px;   
    height: 40px;      
    cursor: pointer;
    display: flex;
    margin-right: 12px;
}
.nr-imggp{
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: gray;
    width: 40px;   
    height: 40px;      
    cursor: pointer;
    display: flex;
    border: 2px solid #6366f1;
    margin-right: 12px;
}
.nr-textp {
    color: white;
    font-size: 15px;
    font-weight: 600;
    object-fit: cover;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-8px); }
  to { opacity: 1; transform: translateY(0); }
}

.imgwrp:hover .card {
  display: block;
}
.profileh {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.profileh img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  
}

.info .author-name {
  font-weight: 600;
  color: #111827;
}

.info .username {
  color: #6B7280;
  font-size: 13px;
}
.menu .nra{
    display: none;
}
.menu a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  text-decoration: none;
  color: #374151;
  transition: 0.2s;
}

.menu a:hover {
  color: #111827;
}

.logout {
  border-top: 1px solid #E5E7EB;
  margin-top: 12px;
  padding-top: 10px;
}

.logout a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #EF4444;
  font-weight: 500;
  text-decoration: none;
}

.logout a:hover {
  color: #dc2626;
}

/* Main */
.main {
    margin: 0 20% 0 20%;
    padding-top: 7%;
    flex: 1;
    max-width: 1400px;
}
/* profile */
.profile{
    border-radius: 10px;
    padding: 24px;
    border: 1px solid #D4D4D8;
}
/* profile-top */
.profile-top{
    display: flex;
    margin: 0 40px;
    flex: 1;
}
.proft-img{
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: #6a78d1;
    width: 7vw;
    height: 7vw;
    display: flex;
}
.proft-img img{
    width: 100%;
    height: inherit;
    object-fit: cover;
}
.initial {
    color: white;
    font-size: 36px;
    font-weight: 600;
    object-fit: cover;
}
.proft-name{
    margin-left:40px;
    flex: 1;
}
.proft-name h2{
    font-size: 30px;
}
.proft-name h3{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #71717a;
}
.follow{
    display: flex;
    gap: 20px;
}
.follow p{
    font-size: 16px;
    font-weight: 500;
    color: #71717a;
}
.proft-name p::first-letter{
    color: black !important;
    font-weight: 600;
}
.prot-logout{
    margin-top: 10px;
    height: 20px;
}
.prot-logout a{
    color: #ea580c;
    font-size: 16px;
}
.prot-editf{
    margin-top: 10px;
    /* margin-left: 28vw; */
    border-radius:15px ;
    height: 20px;
    padding: 8px 20px;
    background-color: #3863EB;
}
.prot-editf button{
    color: white;
    font-size: 16px;
    padding-right: 3px;
    border: none;
    background-color: #3863EB;
}
.prot-edit{
    /* margin-left: 28vw; */
    border-radius:15px ;
    height: 20px;
    padding: 8px 20px;
    background-color: #3863EB;
}
.prot-edit a i{
    padding-right: 3px;
}
.prot-edit a{
    color: white;
    font-size: 16px;
}
/* member-all */
.member-all{
    margin: 0 40px;
    margin-top: 30px;
    border: 1px solid #D4D4D8;
    border-radius: 8px;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.m-link a{
    font-size: 18px;
    padding: 10px;
    color: #71717a;
}
.m-addr a i{
    padding-right: 5px;
}
.m-addr a{
    font-size: 16px;
    color: #71717a;
}
.m-join a i{
    padding-right: 5px;
}
.m-join a{
    font-size: 16px;
    color: #71717a;
}
/* about-me */
.about-me{
    margin: 0 40px;
    margin-top: 30px;
    border: 1px solid #D4D4D8;
    border-radius: 8px;
    padding: 20px 0;
}
.about-me h2{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
}
.about-me p{
    font-size: 18px;
    color: #71717a;
    margin: 15px 0 15px 20px;

}
/* recent-acti */
.recent-acti{
    margin:  0 40px;
    margin-top: 30px;
    border: 1px solid #D4D4D8;
    border-radius: 8px;
    padding: 20px 0px;
}
.recent-acti h2{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
}
.ra-data{
    margin-top: 20px;
    margin-left: 0px;
    display: flex;
    transition: all 0.3s ease;
}
.rad-left {
    margin-left: 40px;
    text-align: center;
    width: 60px;
    font-family: sans-serif;
    color: #71717a; 
}
.rad-left span{
    font-size: 15px;
}
.dot-line {
    margin: 4px auto 0;
    width: 1px;
    height: 15px; 
    border-left: 2px dotted #3b82f6; 
}
.rad-right{
    width:85%;
    padding-top: 15px;
    margin-left: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #D4D4D8;
}
.rad-right p{
    font-size: 16px;
    font-weight: 600;
}
.show-more-wrapper {
  text-align: left;
  display: flex;
}
.showl{
    margin-top: 10px;
    margin-left: 40px;
    text-align: center;
    width: 60px;
    font-family: sans-serif;
    color: #71717a; 
}
.show-more-btn {
  background: none;
  border: none;
  color: #3b82f6;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.show-more-btn .arrow {
  margin-left: 6px;
  border: solid #3b82f6;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.arrow.down {
  transform: rotate(45deg);
}

.arrow.up {
  transform: rotate(-135deg);
}
.raa-data{
    margin-top: 20px;
    margin-left: 0px;
    display: flex;
    transition: all 0.3s ease;
}
.rada-left {
    margin-left: 40px;
    text-align: center;
    width: 60px;
    font-family: sans-serif;
    color: #71717a; /* blue tone */
}
.rada-left span{
    font-size: 15px;
}
.rada-right{
    width:85%;
    padding-top: 0px;
    margin-left: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #D4D4D8;
}
.rada-right p{
    font-size: 16px;
    font-weight: 400;
    color: #71717a;
}

/* footer */
.footer {
    margin-top: 5%;
    padding: 8px 0px;
    width: 100%;
    background-color: white;
    border-top: 1px solid #D4D4D8;
    
}

.f-top {
    display: flex;
    justify-content: space-between;
}
/* f-left */
.f-left {
    display: flex;
    gap: 15px;
    padding-left: 10%;
}

.f-left img {
    width: inherit;
    height: 4vh;
    box-sizing: border-box;
}

.fl-text {
    margin-top: 12px;
}

.fl-text a {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    color: #52525b;
}

.fl-text a:hover {
    background-color: #F4F4F5;
    border-radius: 25px;

}

/* f-right */
.f-right {
    display: flex;
    margin-top: 6px;
    padding-right: 10%;
}
.soi i{
    font-size: 16px;
    padding: 10px 10px;
}
.soi i:hover{
    background-color: #F4F4F5;
    border-radius: 50px;
}
/* f-bot */
.f-bot{
    text-align: center;
    padding-top: 5px;
}
.f-bot p{
    font-size: 14px;
    color: rgb(161, 161, 170);
}

@media only screen and (min-width:320px) and (max-width:480px){
.nav {
    padding: 4px 0px;
}
.nav-left{
    padding-left: 10px;
}
.nla {
    display: none;
}
.nav-left img {
    width: inherit;
    height: 2vh;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 0px;
}
.nl-text {
    margin-top: 0px;
}
.nl-text a {
    font-size: 8px;
    padding: 5px 4px;
}
.nav-right{
     margin-top: 0px;
     word-spacing: 0px;
     padding-right: 10px;
     gap: 5px;
}
.menu .nra {
    display: block;
}
.nav-right form {
    margin-top: 2px;
    font-size: 7px;
    word-spacing: 3px;
    padding: 0px 5px;
    gap: 4px;
}
.nav-right form button i {
    margin: 0;
    padding: 0;
    font-size: 10px;
}
.nav-right form input {
    font-size: 7px;
    color: #52525b;
    width: 40px;  
}
.nav-right a p{
    margin-top: 0px;
    font-size: 8px;
    padding: 0px;
}
.nav-right a i {
    font-size: 9px;
    padding: 5px 5px;
}
.imgwrp{
    margin-bottom: 0px;
}
.nr-img{
    margin-top: 0px;
    width: 20px;   
    height: 20px;
}
.nr-imgg{
    margin-top: 0px;
    width: 20px;   
    height: 20px;
}
.nr-text {
    color: white;
    font-size: 7px;
    font-weight: 600;
    object-fit: cover;
}
/* card */
.card {
  width: 160px;
  padding: 8px;
}
.nr-imgp{
    margin-top: 2px;
    width: 22px;   
    height: 22px;
    margin-right: 6px;
}
.nr-imggp{
    margin-top: 2px;
    width: 22px;   
    height: 22px;
    margin-right: 6px;
}

.nr-textp {
    font-size: 7px;
}
.profileh {
  margin-bottom: 8px;
}
.profileh img {
  width: 22px;
  height: 22px;
  margin-right: 12px;
}
.info .author-name {
    padding: 0px;
    font-size: 10px;
}
.info .username {
    padding: 0px;
    font-size: 7px;
}
.menu a {
    font-size: 8px;
    padding: 4px 0px;
    gap: 3px;
}
.logout {
  margin-top: 6px;
  padding-top: 5px;
}
.logout a {
  gap: 5px;
  font-size: 8px;
}

/* Main */
.main {
    padding-top: 13%;
    margin: 0 5% 0 5%;
}
.profile{
    padding: 8px;
    
}
.profile-top{
    flex: 1;
    margin: 0 20px;
}
.proft-img{
    margin-top: 8px;
    width: 40px;
    height: 40px;
}
.initial {
    font-size: 18px;
}
.proft-name{
    flex: 1;
    margin-left:20px;
}
.proft-name h2{
    font-size: 15px;
}
.proft-name h3{
    font-size: 8px;
    margin-bottom: 5px;
}
.follow{
    gap: 10px;
}
.follow p{
    font-size: 8px;
}
.prot-logout{
    margin-top: 0px;
    height: 0px;
}
.prot-logout a{
    font-size: 8px;
}
.prot-editf{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    height: 9px;
    padding: 5px 14px;
}
.prot-editf form{
    margin: -8px;
    padding: 0;
}
.prot-editf button{
    font-size: 8px;
    padding-right: 3px;
}
.prot-edit{
    display: flex;
    justify-content: flex-end;
    margin-left: 0px;
    height: 9px;
    padding: 5px 10px;
}
.prot-edit a i{
    padding-right: 1px;
}
.prot-edit a{
    font-size: 8px;
}
/* member-all */
.member-all{
    margin: 0 20px;
    margin-top: 25px;
    padding: 12px 0;
    gap: 20px;
    display: block;
    text-align: center;
}
.m-link a{
    font-size: 11px;
    padding: 8px;
}
.m-addr a i{
    padding-right: 2px;
}
.m-addr a{
    font-size: 10px;
}
.m-join a i{
    padding-right: 2px;
}
.m-join a{
    font-size: 10px;
}
.about-me{
    margin: 0 20px;
    margin-top: 15px;
    padding: 10px 0;
}
.about-me h2{
    margin-left: 10px;
    font-size: 10px;
}
.about-me p{
    font-size: 9px;
    margin: 8px 0 8px 10px;

}
.recent-acti{
    margin:  0 20px;
    margin-top: 15px;
    padding: 10px 0px;
}
.recent-acti h2{
    margin-left: 10px;
    font-size: 10px;
}
.ra-data{
    margin-top: 10px;
}
.rad-left {
    margin-left: 20px;
    width: 30px;
}
.rad-left span{
    font-size: 8px;
}
.dot-line {
    margin: 2px auto 0;
    width: 1px;
    height: 8px; 
}
.rad-right{
    width:85%;
    padding-top: 17px;
    margin-left: 15px;
    padding-bottom: 8px;
}
.rad-right p{
    font-size: 8px;
    font-weight: 600;
}
.raa-data{
    margin-top: 10px;
}
.rada-left {
    margin-left: 20px;
    width: 30px;
}
.rada-left span{
    font-size: 8px;
}
.rada-right{
    width:85%;
    padding-top: 7px;
    margin-left: 15px;
    padding-bottom: 8px;
}
.rada-right p{
    font-size: 8px;
}
/* footer */
.footer {
    padding: 4px 0px;
}
.f-left {
    padding-left: 5%;
}
.f-left img {
    height: 2vh;
    margin-top: 4px;
}
.fl-text {
    margin-top: 0px;
}
.fl-text a {
    font-size: 8px;
    padding: 5px 4px;
}
/* f-right */
.f-right {
    margin-top: 0px;
    padding-right: 5%;
}
.soi i{
    font-size: 8px;
    padding: 5px 5px;
}
/* f-bot */
.f-bot{
    text-align: center;
    padding-top: 4px;
}
.f-bot p{
    font-size: 7px;
    color: rgb(161, 161, 170);
}
}

@media only screen and (min-width:481px) and (max-width:768px){
.nav {
    padding: 6px 0px;
}
.nav-left{
    padding-left: 10px;
}
.nla {
    display: none;
}
.nav-left img {
    width: inherit;
    height: 2vh;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 0px;
}
.nl-text {
    margin-top: 0px;
}
.nl-text a {
    font-size: 10px;
    padding: 5px 4px;
}
.nav-right{
     margin-top: 0px;
     word-spacing: 0px;
     padding-right: 10px;
     gap: 5px;
}
.menu .nra {
    display: block;
}
.nav-right form {
    margin-top: 2px;
    font-size: 9px;
    word-spacing: 3px;
    padding: 2px 8px;
    gap: 4px;
}
.nav-right form button i {
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.nav-right form input {
    font-size: 9px;
    color: #52525b;
    width: 50px;  
}
.nav-right a p{
    margin-top: 0px;
    font-size: 10px;
    padding: 0px;
}
.nav-right a i {
    font-size: 11px;
    padding: 5px 5px;
}
.imgwrp{
    margin-bottom: 0px;
}
.nr-img{
    margin-top: 0px;
    width: 24px;   
    height: 24px;
}
.nr-imgg{
    margin-top: 0px;
    width: 24px;   
    height: 24px;
}
.nr-text {
    color: white;
    font-size: 9px;
    font-weight: 600;
    object-fit: cover;
}
/* card */
.card {
  width: 160px;
  padding: 8px;
}
.nr-imgp{
    margin-top: 2px;
    width: 24px;   
    height: 24px;
    margin-right: 6px;
}
.nr-imggp{
    margin-top: 2px;
    width: 24px;   
    height: 24px;
    margin-right: 6px;
}

.nr-textp {
    font-size: 9px;
}
.profile {
  margin-bottom: 8px;
}
.profile img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
.info .author-name {
    padding: 0px;
    font-size: 12px;
}
.info .username {
    padding: 0px;
    font-size: 9px;
}
.menu a {
    font-size: 10px;
    padding: 4px 0px;
    gap: 3px;
}
.logout {
  margin-top: 6px;
  padding-top: 5px;
}
.logout a {
  gap: 5px;
  font-size: 10px;
}


/* Main */
.main {
    padding-top: 13%;
    margin: 0 5% 0 5%;
}

.profile{
    padding: 10px;
    
}
.profile-top{
    flex: 1;
    margin: 0 20px;
}
.proft-img{
    margin-top: 10px;
    width: 45px;
    height: 45px;
}
.initial {
    font-size: 20px;
}
.proft-name{
    flex: 1;
    margin-left:20px;
}
.proft-name h2{
    font-size: 17px;
}
.proft-name h3{
    font-size: 10px;
    margin-bottom: 7px;
}
.follow{
    gap: 10px;
}
.follow p{
    font-size: 10px;
}
.prot-logout{
    margin-top: 0px;
    height: 0px;
}
.prot-logout a{
    font-size: 10px;
}
.prot-editf{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    height: 11px;
    padding: 7px 16px;
}
.prot-editf form{
    margin: -8px;
    padding: 0;
}
.prot-editf button{
    font-size: 10px;
    padding-right: 3px;
}
.prot-edit{
    display: flex;
    justify-content: flex-end;
    margin-left: 0px;
    height: 11px;
    padding: 5px 10px;
}
.prot-edit a i{
    padding-right: 1px;
}
.prot-edit a{
    font-size: 10px;
}
/* member-all */
.member-all{
    margin: 0 20px;
    margin-top: 25px;
    padding: 12px 0;
    gap: 20px;
    display: block;
    text-align: center;
}
.m-link a{
    font-size: 14px;
    padding: 8px;
}
.m-addr a i{
    padding-right: 2px;
}
.m-addr a{
    font-size: 12px;
}
.m-join a i{
    padding-right: 2px;
}
.m-join a{
    font-size: 12px;
}
.about-me{
    margin: 0 20px;
    margin-top: 15px;
    padding: 10px 0;
}
.about-me h2{
    margin-left: 10px;
    font-size: 12px;
}
.about-me p{
    font-size: 11px;
    margin: 8px 0 8px 10px;

}
.recent-acti{
    margin:  0 20px;
    margin-top: 15px;
    padding: 10px 0px;
}
.recent-acti h2{
    margin-left: 10px;
    font-size: 12px;
}
.ra-data{
    margin-top: 10px;
}
.rad-left {
    margin-left: 20px;
    width: 40px;
}
.rad-left span{
    font-size: 10px;
}
.dot-line {
    margin: 2px auto 0;
    width: 1px;
    height: 8px; 
}
.rad-right{
    width:85%;
    padding-top: 17px;
    margin-left: 15px;
    padding-bottom: 8px;
}
.rad-right p{
    font-size: 10px;
    font-weight: 600;
}
.raa-data{
    margin-top: 10px;
}
.rada-left {
    margin-left: 20px;
    width: 40px;
}
.rada-left span{
    font-size: 10px;
}
.rada-right{
    width:85%;
    padding-top: 7px;
    margin-left: 15px;
    padding-bottom: 8px;
}
.rada-right p{
    font-size: 10px;
}
/* footer */
.footer {
    padding: 4px 0px;
}
.f-left {
    padding-left: 5%;
}
.f-left img {
    height: 2vh;
    margin-top: 4px;
}
.fl-text {
    margin-top: 0px;
}
.fl-text a {
    font-size: 10px;
    padding: 5px 4px;
}
/* f-right */
.f-right {
    margin-top: 0px;
    padding-right: 5%;
}
.soi i{
    font-size: 10px;
    padding: 5px 5px;
}
/* f-bot */
.f-bot{
    text-align: center;
    padding-top: 4px;
}
.f-bot p{
    font-size: 9px;
    color: rgb(161, 161, 170);
}
}

@media only screen and (min-width:769px) and (max-width:1024px){
.nav {
    padding: 8px 0px;
}
.nav-left{
    padding-left: 12px;
}
.nav-left img {
    margin-top: 4px;
    width: inherit;
    height: 2vh;
    box-sizing: border-box;
}
.nl-text {
    margin-top: 0px;
}
.nl-text a {
    font-size: 12px;
    padding: 5px 6px;
}
.nav-right{
     margin-top: 0px;
     word-spacing: 2px;
     padding-right: 14px;
}
.nav-right form {
    margin-top: 2px;
    font-size: 14px;
    word-spacing: 5px;
    padding: 4px 10px;
    gap: 4px;
}
.nav-right form button i {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.nav-right form input {
    font-size: 12px;
    color: #52525b;
    width: 80px;  
}
.nav-right a p{
    margin-top: 0px;
    font-size: 12px;
    padding: 0px;
}
.nav-right a i {
    font-size: 13px;
    padding: 5px 5px;
}
.imgwrp{
    margin-bottom: 0px;
}
.nr-img{
    margin-top: 0px;
    width: 28px;   
    height: 28px;
}
.nr-imgg{
    margin-top: 0px;
    width: 28px;   
    height: 28px;
}
.nr-text {
    color: white;
    font-size: 11px;
    font-weight: 600;
    object-fit: cover;
}
/* card */
.card {
  width: 200px;
  padding: 10px;
}
.nr-imgp{
    margin-top: 2px;
    width: 28px;   
    height: 28px;
    margin-right: 6px;
}
.nr-imggp{
    margin-top: 2px;
    width: 28px;   
    height: 28px;
    margin-right: 6px;
}

.nr-textp {
    font-size: 12px;
}
.profile {
  margin-bottom: 8px;
}
.profile img {
  width: 28px;
  height: 28px;
  margin-right: 12px;
}
.info .author-name {
    padding: 0px;
    font-size: 14px;
}
.info .username {
    padding: 0px;
    font-size: 11px;
}
.menu a {
    font-size: 12px;
    padding: 4px 0px;
    gap: 3px;
}
.logout {
  margin-top: 7px;
  padding-top: 7px;
}
.logout a {
  gap: 8px;
  font-size: 12px;
}

/* Main */
.main {
    padding-top: 8%;
    margin: 0 15% 0 15%;
}
.profile{
    padding: 15px;
    
}
.profile-top{
    flex: 1;
    margin: 0 20px;
}
.proft-img{
    margin-top: 5px;
    width: 55px;
    height: 55px;
}
.initial {
    font-size: 22px;
}
.proft-name{
    flex: 1;
    margin-left:20px;
}
.proft-name h2{
    font-size: 19px;
}
.proft-name h3{
    font-size: 12px;
    margin-bottom: 7px;
}
.follow{
    gap: 10px;
}
.follow p{
    font-size: 12px;
}
.prot-logout{
    margin-top: 0px;
    height: 0px;
}
.prot-logout a{
    font-size: 12px;
}
.prot-editf{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    height: 12px;
    padding: 8px 18px;
}
.prot-editf form{
    margin: -5px;
    padding: 0;
}
.prot-editf button{
    font-size: 12px;
    padding-right: 3px;
}
.prot-edit{
    display: flex;
    justify-content: flex-end;
    margin-left: 0px;
    height: 13px;
    padding: 7px 12px;
}
.prot-edit a i{
    padding-right: 1px;
}
.prot-edit a{
    font-size: 12px;
}
/* member-all */
.member-all{
    margin: 0 20px;
    margin-top: 35px;
    padding: 12px 0;
    gap: 10px;
    /* display: block;
    text-align: center; */
}
.m-link a{
    font-size: 14px;
    padding: 8px;
}
.m-addr a i{
    padding-right: 2px;
}
.m-addr a{
    font-size: 12px;
}
.m-join a i{
    padding-right: 2px;
}
.m-join a{
    font-size: 12px;
}
.about-me{
    margin: 0 20px;
    margin-top: 15px;
    padding: 10px 0;
}
.about-me h2{
    margin-left: 10px;
    font-size: 14px;
}
.about-me p{
    font-size: 13px;
    margin: 8px 0 8px 10px;

}
.recent-acti{
    margin:  0 20px;
    margin-top: 15px;
    padding: 10px 0px;
}
.recent-acti h2{
    margin-left: 10px;
    font-size: 14px;
}
.ra-data{
    margin-top: 10px;
}
.rad-left {
    margin-left: 20px;
    width: 40px;
}
.rad-left span{
    font-size: 12px;
}
.dot-line {
    margin: 4px auto 0;
    width: 1px;
    height: 10px; 
}
.rad-right{
    width:85%;
    padding-top: 17px;
    margin-left: 15px;
    padding-bottom: 8px;
}
.rad-right p{
    font-size: 12px;
    font-weight: 600;
}
.raa-data{
    margin-top: 10px;
}
.rada-left {
    margin-left: 20px;
    width: 40px;
}
.rada-left span{
    font-size: 12px;
}
.rada-right{
    width:85%;
    padding-top: 2px;
    margin-left: 15px;
    padding-bottom: 8px;
}
.rada-right p{
    font-size: 12px;
}


/* footer */
.footer {
    padding: 4px 0px;
}
.f-left {
    padding-left: 5%;
}
.f-left img {
    height: 2vh;
    margin-top: 4px;
}
.fl-text {
    margin-top: 3px;
}
.fl-text a {
    font-size: 12px;
    padding: 5px 4px;
}
/* f-right */
.f-right {
    margin-top: 0px;
    padding-right: 5%;
}
.soi i{
    font-size: 12px;
    padding: 5px 5px;
}
/* f-bot */
.f-bot{
    text-align: center;
    padding-top: 4px;
}
.f-bot p{
    font-size: 12px;
    color: rgb(161, 161, 170);
}
}

@media only screen and (min-width:1025px) and (max-width:1200px){
.nav-left img {
    height: 3vh;
}
.nl-text a {
    padding: 10px 10px;
}
/* left */
.main {
    padding-top: 10%;
    margin: 0 15% 0 15%;
}
.proft-img{
    margin-top: 8px;
    width: 80px;
    height: 80px;
}
.profile-top{
    flex: 1;
    margin: 0 20px;
}
.member-all{
    margin: 0 20px;
    margin-top: 35px;
    padding: 12px 0;
    gap: 10px;
}
.proft-name{
    flex: 1;
    margin-left:20px;
}
.about-me{
    margin: 0 20px;
    margin-top: 15px;
    padding: 10px 0;
}
.recent-acti{
    margin:  0 20px;
    margin-top: 15px;
    padding: 10px 0px;
}
/* .profile{
    padding: 15px;
    
}

.proft-img{
    margin-top: 5px;
    width: 55px;
    height: 55px;
}
.initial {
    font-size: 22px;
}

.proft-name h2{
    font-size: 19px;
}
.proft-name h3{
    font-size: 12px;
    margin-bottom: 7px;
}
.follow{
    gap: 10px;
}
.follow p{
    font-size: 12px;
}
.prot-logout{
    margin-top: 0px;
    height: 0px;
}
.prot-logout a{
    font-size: 12px;
}
.prot-edit{
    display: flex;
    justify-content: flex-end;
    margin-left: 0px;
    height: 13px;
    padding: 7px 12px;
}
.prot-edit a i{
    padding-right: 1px;
}
.prot-edit a{
    font-size: 12px;
}
.member-all{
    margin: 0 20px;
    margin-top: 35px;
    padding: 12px 0;
    gap: 10px;
}
.m-link a{
    font-size: 14px;
    padding: 8px;
}
.m-addr a i{
    padding-right: 2px;
}
.m-addr a{
    font-size: 12px;
}
.m-join a i{
    padding-right: 2px;
}
.m-join a{
    font-size: 12px;
}

.about-me h2{
    margin-left: 10px;
    font-size: 14px;
}
.about-me p{
    font-size: 13px;
    margin: 8px 0 8px 10px;

}

.recent-acti h2{
    margin-left: 10px;
    font-size: 14px;
}
.ra-data{
    margin-top: 10px;
}
.rad-left {
    margin-left: 20px;
    width: 40px;
}
.rad-left span{
    font-size: 12px;
}
.dot-line {
    margin: 4px auto 0;
    width: 1px;
    height: 10px; 
}
.rad-right{
    width:85%;
    padding-top: 17px;
    margin-left: 15px;
    padding-bottom: 8px;
}
.rad-right p{
    font-size: 12px;
    font-weight: 600;
}
.raa-data{
    margin-top: 10px;
}
.rada-left {
    margin-left: 20px;
    width: 40px;
}
.rada-left span{
    font-size: 12px;
}
.rada-right{
    width:85%;
    padding-top: 2px;
    margin-left: 15px;
    padding-bottom: 8px;
}
.rada-right p{
    font-size: 12px;
} */


/* footer */
.footer {
    padding: 4px 0px;
}
.f-left {
    padding-left: 5%;
}
.f-left img {
    height: 2vh;
    margin-top: 4px;
}
.fl-text {
    margin-top: 5px;
}
.fl-text a {
    font-size: 14px;
    padding: 5px 4px;
}
/* f-right */
.f-right {
    margin-top: 4px;
    padding-right: 5%;
}
.soi i{
    font-size: 14px;
    padding: 10px 10px;
}
/* f-bot */
.f-bot{
    text-align: center;
    padding-top: 4px;
}
.f-bot p{
    font-size: 14px;
    color: rgb(161, 161, 170);
}
}